<?xml version="1.0" encoding="UTF-8"?>
 <widget xmlns="http://www.w3.org/ns/widgets" height="200" id="http://AuthorizrClient" version="1.0.0" viewmodes="windowed fullscreen" width="200">
    
    <name short="AuthorizrClient">AuthorizrClient</name>    

    <description>
       An example Basic Series 40 web app runtime.
    </description>
    
    <!-- Note: Author href MUST BE Url encoded 
        @see http://en.wikipedia.org/wiki/Percent-encoding -->   
    <author email="ilkka.salento@nokia.com" href="http://www.example.com">
       Isalento
    </author>
    
    <icon src="icon.png"/>

    <content src="index.html"/>
    
    <license>
	   Copyright Foo Bar Corp, 2011.
    </license>
    
    <preference name="token" value=""/>
	<preference name="sid" value=""/>
    
   	<feature name="nokia://s40.nokia.com/SAWRT/2.0" required="true" />
</widget>